.THIS {
    padding-top: 20px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    max-width: 950px;

    font-size: 14px;
    font-family: 'Salesforce Sans', Arial, sans-serif;
}


.THIS .search-button {
}

.THIS .search-input > .slds-form-element__control{
    display: block;
}

.THIS .filters-layout {
    margin: 10px 0px;
}

.THIS .search-layout {
    text-align: center;
}

.THIS .search-layout input {
    width: 100%;
    max-width: 100%;
}

.THIS .search-layout button {
    width: 100%;
}

.THIS .filters-label {
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(216, 221, 230);
}