.THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0);
}

.THIS .slds-truncate {
    white-space: normal;
}

.THIS .dialog_position {
	display: block;
    vertical-align: middle;

}

.THIS .slds-modal__content{
    overflow: initial;
}