.THIS .modal-full-width {
    width: 100%;
    margin-left: 0px;
}

/* this (with the tabindex=-1) prevents the transparent div from showing an outline when selected */
.THIS .slds-modal__container{
    outline: none;
}

/* this prevents the spinner container from flashing white when the spinner is enabled. */
.THIS .slds-spinner_container {
    background-color:transparent;
}

.THIS .slds-button.slds-modal__close.closeIcon {
    display: none;
}

.THIS .slds-modal__content{
    overflow: initial;
}