.THIS {
    text-align: center;
}

.THIS .selector-container {
    text-align: center;
    margin-top: 10px;
}

.THIS .label {
    margin-right: 10px;
}

.THIS .desktop-selector {
    display: inline-block;
}

.THIS .mobile-selector {
    display: none;
}

@media (max-width: 48em) {

    .THIS .mobile-selector {
        display: inline-block;
    }

    .THIS .desktop-selector {
        display: none;
    }
}