.table-wrap-wrapper {
    border: outset 1px #D3D3D3;
    margin-bottom: 3px;
}

.table {
 	table-layout:fixed;
    display:table;
    width:100%;
    min-width:260px;
}
.table-row {
    display:table-row;
    min-width:200px;
}
.table-cell {
    display:table-cell;
    padding: 1px 3px 2px 3px;
    max-width: 50px;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
}

.small-icon {
    width: 20px;
}

.first-col {
    width:30%;
}

.second-col, .third-col {
    width: 35%;
} 
}
