@page {

	/* Landscape orientation */
	size:landscape;

	/* Put page numbers in the bottom left corner of each
	   page in the pdf document. */
	@bottom-center
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		content: "Page " counter(page);
	}
	
	

}
body, td {
    font-family: Arial,Helvetica,sans-serif;
    color: #222;
}

body .bEditBlock .pbHeader, body .bLayoutBlock .pbHeader, body .apexp .bPageBlock.apexDefaultPageBlock .pbHeader {
    border-bottom: 1px solid #fff;
    padding: 0;
}

body .bPageBlock .pbHeader {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

body {
    background-repeat: repeat-x;
    background-position: left top;
    font-size: 75%;
    font-family: 'Arial','Helvetica',sans-serif;
    background-color: #fff;
}

.bPageBlock .pbHeader {
    margin-top: 0;
    margin-right: 2px;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 2px;
    background-color: #eeecd1;
    border-bottom: 1px solid #fff;
}
div {
    display: block;
}
.bEditBlock .pbHeader>table, .apexp .bPageBlock.apexDefaultPageBlock .pbHeader>table, #ep.bLayoutBlock .pbHeader>table {
    border-bottom: 1px solid #dbdbdb;
}

.bEditBlock .pbHeader>table, .apexp .bPageBlock.apexDefaultPageBlock .pbHeader>table, #ep.bLayoutBlock .pbHeader>table {
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 0;
}

.bPageBlock .pbHeader table, .bPageBlock .pbBottomButtons table {
    border-spacing: 0;
    width: 100%;
}

body .bPageBlock, body .bPageBlock .pbBody, body .bPageBlock .pbBottomButtons {
    background-color: transparent;
    background-image: none;
    margin: 0;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

body .bRelatedList .pbTitle h3, body .bPageBlock .pbTitle h2, body .bPageBlock .pbTitle h3, body .bSubBlock h3.lbHeader {
    color: #000;
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #f8f8f8;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.productTab .tertiaryPalette, .individualPalette .productBlock .tertiaryPalette, .layoutEdit .individualPalette .productBlock .tertiaryPalette {
    background-color: #4d91b3;
    border-color: #4d91b3;
}

.productTab .secondaryPalette, .individualPalette .productBlock .secondaryPalette {
    background-color: #317992;
    border-color: #317992;
}

.message {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.errorM6, .errorM4, .errorM3, .errorM2, .errorS1 {
    border-color: #c00;
}

.message {
    background-color: #ffc;
    border-style: solid;
    border-width: 1px;
    color: #000;
    padding: 6px 8px 6px 6px;
    margin: 4px 20px;
}

.message .messageText {
    margin-left: 8px;
}

.message .messageText h4 {
    font-weight: bold;
    display: block;
}

.message .messageTable .messageCell {
    vertical-align: middle;
}

.errorM3 .msgIcon, .errorMedium {
    background-image: url(/img/msg_icons/error24.png);
    background-position: 0 0;
    width: 24px;
    height: 24px;
}

.apexp .totalRow {
    font-weight: bold;
    background-color: #e3e3d7;
}

img {
    border: 0;
}

body .bPageBlock {
    padding: 0;
    margin-bottom: 10px;
    border-top-width: 3px;
}

.pbHeader .pbTitle h2, .pbHeader .pbTitle h3 {
    margin: 0;
}

.pbHeader .pbTitle h2, .pbHeader .pbTitle h3 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4px;
    padding: 0;
    display: block;
    color: #333;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.bPageBlock {
    border-top: 4px solid #222;
    margin-bottom: 9px;
    background-color: #222;
    background-image: url(/img/bgPageBlockLeft.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 9px;
    clear: both;
}

.apexp .bPageBlock.apexDefaultPageBlock .pbBody {
    margin: 7px 12px 7px;
}

body .bPageBlock .pbBody {
    padding: 0;
}

.pbBody, .pbBody a, .pbBody td, .lbBody a, .lbBodyDescription, .list .headerRow .noRowsHeader {
    color: #000;
}

.apexp .bPageBlock .detailList {
    width: 100%;
}

body .bPageBlock .pbBody .labelCol, body .bPageBlock .pbBody .dataCol, body .bPageBlock .pbBody .data2Col, body .print .topics-label, body .print .topics-list {
    padding-top: 5px;
    padding-bottom: 5px;
}


.bPageBlock .detailList .labelCol {
    width: 18%;
}

body .bPageBlock .detailList tr td, body .bPageBlock .detailList tr th, body table.list tr td, body table.list tr th, body .hoverDetail .bPageBlock .detailList tr td, body .hoverDetail .bPageBlock .detailList tr th {
    border-color: #ececec;
}

.bPageBlock .detailList tr td, .bPageBlock .detailList tr th, .hoverDetail .bPageBlock .detailList tr td, .hoverDetail .bPageBlock .detailList tr th {
    border-bottom: 1px solid #e3deb8;
}
.bPageBlock th.vfLabelColTextWrap {
    white-space: normal;
    position: relative;
}
.bPageBlock .detailList th, .bPageBlock .detailList td {
    vertical-align: top;
}
.bPageBlock .labelCol, body .print .topics-label {
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 2px;
    text-align: right;
    font-size: 91%;
    font-weight: bold;
    color: #333;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.pbSubheader {
    background-color: #222;
    font-weight: bold;
    font-size: 91%;
    padding: 2px 2px 2px 5px;
    margin-top: 15px;
    overflow: hidden;
    margin-bottom: 2px;
}

.bPageBlock .detailList th.last, .bPageBlock .detailList td.last, .bPageBlock .detailList tr.last td, .bPageBlock.bLayoutBlock .detailList tr td, .bPageBlock.bLayoutBlock .detailList tr th {
    border-bottom-width: 0;
}

.bPageBlock .detailList .data2Col {
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    text-align: left;
    width: 82%;
}

.apexp .bPageBlock .detailList .list {
    width: 100%;
}

body .bRelatedList .pbBody table.list, body .apexp .pbBody table.list {
    border: 1px solid #e0e3e5;
}

body .pbBody table.list {
    background-color: #fff;
    border-top: 1px solid #e0e3e5;
}

body .pbBody table.list tr.headerRow th:first-child, body .pbBody table.list tr.dataRow td:first-child {
    border-left-width: 0;
}

.apexp .detailList .list .headerRow th {
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
}

body .pbBody table.list tr.headerRow td, body .pbBody table.list tr.headerRow th {
    background: #f2f3f3;
    border-width: 0 0 1px 1px;
    border-color: #e0e3e5;
    color: #000;
    font-size: .9em;
    font-weight: bold;
    padding: 5px 2px 4px 5px;
}

body .pbBody table.list tr th, body .pbBody table.list tr td {
    border: 1px solid #ededed;
    color: #000;
}


.alignRight { text-align: right; }
.alignCenter { text-align: center; }
.pageBreakPreventer { page-break-inside: avoid; }
.productOffered { margin-left: 15px; }
.productRequested { margin-left: -15px; font-size: 13px; }
.redText { color: red; }