.THIS .prodDesc{
    font-size: 10px;
    padding: 3px 5px 3px 5px;
    font-weight: normal !important;
}

.THIS .siz{
    height: 40px !important;
}

.THIS .accName{
  cursor: not-allowed;
    color: black !important;
        background-color: rgb(236, 235, 234);
    border-color: #a8b7c7;
   /* font-weight: bold;*/
    z-index: 9999;
}

.THIS .inpField{
    width: 50% !important;
    margin-left: 5px !important;
    margin-top: 5px !important;
    height: 33px;
    color: black;
}

.THIS .slds-button_neutral:active{
    font-size: 10px !important;
}
.THIS .gpBtn{
    /*background-color: rgba(18, 96, 11, 1.0);*/
    /* color: white;*/
    margin-top: 5px;
    width: 100%;
   
    font-weight: bold;
}

.THIS .childCmp{
    color: red;
}

.THIS .newAccName{
    font-size: 14px;
}

.THIS .wdth{
    width: 76% !important;
}

.THIS .valClass{
    background: #dddddd;
    /* margin-left: 15px; */
    margin-top: 10px;
    display: block;
    float: left;
   
}

.THIS .uiInput--select.select:not([multiple]){
    font-size: 14px !important;
    height : 34px;
}

.THIS .input[type=text]:disabled {
  background: #dddddd;
}

.THIS .btns{
    font-size: 10px;
}

.THIS .uiInput--input.input {
    font-size: 13px;
    min-height: 0px;
    color: black;
}